site_name: Suvnet25
site_url: https://klassrum.suvnet.se/
extra_css:
  - assets/stylesheets/extra.css
  - assets/week_color/week_color.css
  - assets/quiz/quiz.css
  - assets/progress-weekbar.css
extra_javascript:
  - assets/week_color/week_color.js
  - assets/quiz/quiz.js
  - assets/progress-weekbar.js
theme:
  features:
    - content.code.copy
    - content.code.annotate
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.footer
  name: material
  custom_dir: overrides
  font:
    text: Montserrat
    code: Source Code Pro
  icon:
    # logo: assets/logo.png
    # logo: fontawesome/solid/code
    # logo: fontawesome/solid/graduation-cap
    logo: material/food-apple
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      # accent: red
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
markdown_extensions:
  - md_in_html
  - footnotes
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.keys
  - attr_list
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
extra:
  # Visa inte Made with Material for MKDocs
  generator: false
  analytics:
    provider: google
    property: G-MWBTY9Z173
  consent:
    title: Cookie consent
    description: >- 
      Hjälp mig förstå hur denna dokumentation används genom att tillåta cookies! På så vis kan jag förbättra denna dokumentation. Tack <3
copyright: Copyright &copy; 2024 - 2025 Gustav Bodell
plugins:
    - tags
    - meta
    - awesome-nav
    - search